.mirror__scan {
    display: flex;
    flex-direction: column;
}

.first {
    background-color: blueviolet;
    width: 50%;
}

.second {
    background-color: aliceblue;
    width: 50%;
}

.mirror__bg {
    position: fixed;
}