.mirror__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    padding: 2rem 2rem;
}

.mirror__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mirror__navbar-links_logo {
    margin-right: 2rem;
}

.mirror__navbar-links_logo img {
   height: 7vh;
}

.mirror__navbar-links_container {
    margin-left: 70vw;
    margin-right: 2rem;
    display: flex;    
    margin-right: 3rem;
    align-items: stretch;
    flex-direction: row;
}

.mirror__navbar-links_container i {
    margin-top: 2rem;
    color: #462998;
    font-size: 30px;
}

.mirror__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mirror__navbar-links_container p,
.mirror__navbar-sign p,
.mirror__navbar-menu_container p {
    color: #462998;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.mirror__navbar-menu {
    margin-left: 1rem;
    color: #462998;
    display: none;
    position: relative;
}

.mirror__navbar-menu svg {
    cursor: pointer;
    color: black;
}

.mirror__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
}

.mirror__navbar-menu_container p {
    margin: 1rem 0;
}

.mirror__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .mirror__navbar-links_container {
        display: none;
    }
    
    .mirror__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {

    .scale-up-center {
        max-width: 2rem;
        background-color: #D7D5FD;
    }
    
    .mirror__navbar {
        padding: 2rem 4rem;
    }

    .mirror__navbar-links_logo img {
        height: 4vh;
    }
}

@media screen and (max-width: 550px) {
    .mirror__navbar {
        padding: 1rem;
    }

    .mirror__navbar-menu_container {
        top: 10px;
    }
}

.mobile_icons {
    font-size: 1.7rem;
}