@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

    /* --gradient-text: linear-gradient(89.97deg, #8769F3, #7E21C8); */

    --gradient-text: linear-gradient(89.97deg, #3D267B 1.84%, #E83D5E 70.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
    --color-bg: #FFFFFF;
    /* --color-footer : #8769F3;*/
    --color-footer : #E5E8F8;
    --color-blog: #042c54;
    --color-text: rgb(109, 80, 213);
    --color-subtext: #E83D5E;
}

